
/* *************************
:: 3.0 Common CSS
************************* */
// * {
//     margin: 0;
//     padding: 0; }
  
//   body {
//     font-family: "Roboto", sans-serif;
//     color: #7b7b7b; }
  
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     font-weight: 300;
//     color: #3a3a3a; }
  
//   p {
//     color: #7b7b7b;
//     font-weight: 400;
//     line-height: 1.9;
//     font-size: 16px; }
  
//   a, a:hover, a:focus, a:active {
//     -webkit-transition-duration: 500ms;
//     transition-duration: 500ms;
//     text-decoration: none;
//     outline: none;
//     font-weight: 500;
//     font-size: 14px;
//     // text-transform: uppercase;
//     color: #3a3a3a; }
  
//   ol,
//   ul {
//     margin: 0;
//     padding: 0; }
//     ol li,
//     ul li {
//       list-style: none; }
  
//   img {
//     height: auto;
//     max-width: 100%; }
    

// body{
//   background: #f9faff;
//   overflow-x: hidden;
//   margin-top: 60px;
//   font-size: 13px;
// }
iframe body{
  margin: 0;
}


// body{
//   scrollbar-base-color: #C0C0C0;
//   scrollbar-base-color: #C0C0C0;
//   scrollbar-3dlight-color: #C0C0C0;
//   scrollbar-highlight-color: #C0C0C0;
//   scrollbar-track-color: #EBEBEB;
//   scrollbar-arrow-color: black;
//   scrollbar-shadow-color: #C0C0C0;
//   scrollbar-dark-shadow-color: #C0C0C0;
// }
// /*mozilla scrolbalken*/
// @-moz-document url-prefix(http://),url-prefix(https://) {
//     scrollbar {
//        -moz-appearance: none !important;
//        background: rgb(0,255,0) !important;
//     }
//     thumb,scrollbarbutton {
//        -moz-appearance: none !important;
//        background-color: rgb(0,0,255) !important;
//     }

//     thumb:hover,scrollbarbutton:hover {
//        -moz-appearance: none !important;
//        background-color: rgb(255,0,0) !important;
//     }

//     scrollbarbutton {
//        display: none !important;
//     }

//     scrollbar[orient="vertical"] {
//       width: 3px;
//     }
// }
/**/
::-webkit-scrollbar {
    background: transparent;
    width: 3px;
    height: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.21);
    border: solid rgba(0,0,0,0) 2px;
    transition: all 0.4s ease
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#depthchart {
  width: 100%;
  height: 265px;
}
.addax-depth-chart-small-height{
    height: 270px !important;
}
#chartdiv {
  width: 100%;
  height: 350px;
}


  .wrapper {
      height: 100%;
      min-height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
  }

  // .m-0 {
  //   margin: 0; }
  
  // .mt-0 {
  //   margin-top: 0; }
  
  // .mt-15 {
  //   margin-top: 15px; }
  
  // .mt-30 {
  //   margin-top: 30px; }
  
  // .mt-50 {
  //   margin-top: 50px; }

  // .mt-100 {
  //   margin-top: 100px; }
  
  // .mb-0 {
  //   margin-bottom: 0; }
  
  // .mb-15 {
  //   margin-bottom: 15px; }
  
  // .mb-30 {
  //   margin-bottom: 30px; }
  
  // .mb-50 {
  //   margin-bottom: 50px; }

  // .mb-100 {
  //   margin-bottom: 100px; }
  
  // .ml-0 {
  //   margin-left: 0; }
  
  // .ml-15 {
  //   margin-left: 15px; }
  
  // .ml-30 {
  //   margin-left: 30px; }
  
  // .ml-50 {
  //   margin-left: 50px; }
  
  // .mr-0 {
  //   margin-right: 0; }
  
  // .mr-15 {
  //   margin-right: 15px; }
  
  // .mr-30 {
  //   margin-right: 30px; }
  
  // .mr-50 {
  //   margin-right: 50px; }
  
  // .section_padding_150 {
  //   padding: 150px 0; }
  
  // .section_padding_100 {
  //   padding: 100px 0; }
  
  // .section_padding_100_0 {
  //   padding: 100px 0 0 0; }
  
  // .section_padding_0_100 {
  //   padding: 0 0 100px 0; }
  
  // .section_padding_60 {
  //   padding: 60px 0; }
  
  // .section_padding_200 {
  //   padding: 200px 0; }
  
  // .section_padding_100_50 {
  //   padding-top: 100px;
  //   padding-bottom: 50px; }
  
  // .section_padding_100_70 {
  //   padding-top: 100px;
  //   padding-bottom: 70px; }

  // .section_padding_100_100 {
  //   padding-top: 100px;
  //   padding-bottom: 100px; }

  //   .section_padding_50_50 {
  //     padding-top: 50px;
  //     padding-bottom: 50px; }
    
  // .section_padding_30_30 {
  //   padding-top: 30px;
  //   padding-bottom: 30px; }

  // .section_padding_15_15 {
  //   padding-top: 15px;
  //   padding-bottom: 15px; }
  
  // .pt-15 {
  //   padding-top: 15px;
  // }
  // .pt-30 {
  //   padding-top: 30px;
  // }
  // .pt-50 {
  //   padding-top: 50px;
  // }
  // .pt-100 {
  //   padding-top: 100px;
  // }

  // .pb-15{
  //   padding-bottom: 15px;
  // }
  // .pb-30{
  //   padding-bottom: 30px;
  // }
    