/*-------------------------------
--------- buy sell form ----------
--------------------------------------*/

.addax-buy-sell-form > p{
  padding: 20px;
  margin-bottom: 0;
}
.addax-buy{
  padding: 20px;
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}
.addax-sell{
  padding: 20px;
  border-top: 1px solid #f1f1f1;
}
body.addax-dark .addax-buy{
  padding: 20px;
  border-top: 1px solid #292f3e;
  border-right: 1px solid #292f3e;
}
body.addax-dark .addax-sell{
  padding: 20px;
  border-top: 1px solid #292f3e;
}

/*0--- market Capacity ----*/
.addax-table-striped tbody tr:nth-of-type(even){
  background-color: #f7fbff; 
}
.addax-table-market-cap{
  background: #fff;
  font-size: 15px;
}
body.addax-dark .addax-table-market-cap{
  background: none;
  font-size: 15px;
  color: #fff;
}
.addax-table-market-cap thead{
  background: #ecf4fe;
}
body.addax-dark .addax-table-market-cap thead{
  background: #1f2638;
  font-size: 14px;
}
.addax-table-market-cap thead tr th{
  text-align: center;
  padding: 15px 0;
  vertical-align: middle;
}
.addax-table-market-cap tbody{}
.addax-table-market-cap tbody tr:hover{
  background: #242c4073 !important
}
.addax-table-market-cap tbody tr th{
  padding: 25px 20px;
  text-align: center;
}
.addax-table-market-cap tbody tr td{
  padding: 25px 0;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .addax-table-market-cap tbody tr td{
      min-width: 103px;
  }
}
.addax-table-market-cap tbody tr td a{
  color: #555;
}
body.addax-dark .addax-table-market-cap tbody tr td a{
  color: #fff;
}
.addax-table-market-cap tbody tr td:last-child{
  max-width: 120px;
  padding: 0;
}
.addax-table-market-cap tbody tr td:last-child canvas{
  display: inline !important;
  margin-top: 15px;
} 
img.addax-market-cap-logo{
  margin-top: -3px;
}
