
.addax-header i.menu-toggle{
  position: absolute;
  right: 15px;
  transform: rotate(45deg);
  top: 50%;
  font-size: 33px;
  transition: all 0.4s ease;
  transform: translateY(-50%) rotate(0deg);
}
.addax-header i:hover{
  cursor: pointer;
}
.addax-header i.open{
  transform: translateY(-50%) rotate(0deg);
}
.addax-heading-menu{
  list-style: none;
  padding-left: 0;
  margin: 16px 0;
  float: right;
}
.addax-heading-menu li{
  margin: 0 -18px;
  padding: 0 10px; 
}
.addax-heading-menu li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-right: 18px;
}
.addax-heading-menu li:last-child{
  margin-right: 7px !important;
}
.addax-heading-menu li.active{
}
.addax-heading-menu li a{
  color: #555;
  text-decoration: none;
  transition: all 0.4s ease;
  padding: 9px 0px;
  display: inline-block;
  font-size: 11px;
}
.addax-heading-menu li a:hover{
  color: $vermelho;
}
.addax-heading-menu li.active > a{
  color: $vermelho;
}
.addax-dark .addax-header{
  box-shadow: none;
  background: #242e3e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 70px;
  color: #fff;
}
.addax-dark .addax-mega-dropdown-menu{
  position: relative;
}
.addax-dark .addax-mega-dropdown-menu a.addax-mega-dropdown-toggle{
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  padding: 25px 20px;
  text-decoration: none;
  outline: none;
  font-size: 15px;
  border-right: 1px solid #202943;
}
.addax-dark .addax-mega-dropdown-menu a.addax-mega-dropdown-toggle i{
  font-weight: 600;
}
.addax-dark .addax-mega-dropdown-menu a.addax-mega-dropdown-toggle:hover{
  text-decoration: none;
}
.addax-dark .addax-mega-dropdown-menu-block{
  position: absolute;
  background: #242e3e;
  padding: 20px;
  width: 550px;
  box-shadow: 0 7px 17px rgba(0,0,0,0.08);
  top: 76px;
  opacity: 0;
  display: none;
  transition: all 0.4s ease;
  border: 1px solid #242e3e;
}
.addax-dark .addax-mega-dropdown-menu-block.shown{
  opacity: 1;
  display: block;
  z-index: 99;
}

.addax-dark .addax-mega-dropdown-menu-block:after{
  position: absolute;
  content: '';
  z-index: -1;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #242e3e;
  transform: rotate(45deg);
  box-shadow: 0 -2px 20px #242e3e;
}

/* ----------- v2.0 --------------- */
.addax-dark .addax-dropdown{
  background: #131722;
}
.addax-dropdown{
  background: #fff;
}
.addax-dropdown{
  position: absolute;
  opacity: 0;
  padding: 27px;
  box-shadow: 0 4px 10px #000;
  border-radius: 3px;
  transition: all 0.4s ease;
  transform: scale(0);
  width: 140px;
}
.addax-has-dropdown{
  position: relative;
}
.addax-has-dropdown:hover .addax-dropdown{
  opacity: 1;
  transform: scale(1);
}
.addax-has-dropdown:after{
  position: relative;
  content: "\e688";
  font-family: 'Pe-icon-7-stroke';
  top: 2px;
}
.addax-dropdown li{
  display: block !important;
}
.addax-dark .addax-dropdown li a{}
.addax-dark .addax-dropdown li.active a{}
.addax-dark .addax-gross-market-cap {
  padding: 12px 16px;
  background: #1f2638;
}
.addax-dark .addax-gross-market-cap p:first-child{
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
}
.addax-dark .addax-gross-market-cap p:last-child{
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}
/* --menu -- */
.addax-dark .addax-header i.menu-toggle{
  position: absolute;
  right: 15px;
  transform: rotate(45deg);
  top: 50%;
  font-size: 33px;
  transition: all 0.4s ease;
  transform: translateY(-50%) rotate(0deg);
}
.addax-dark .addax-header i:hover{
  cursor: pointer;
}
.addax-dark .addax-header i.open{
  transform: translateY(-50%) rotate(0deg);
}
.addax-dark .addax-heading-menu{
  list-style: none;
  padding-left: 0;
  margin: 16px 0;
  float: right;
}
.addax-dark .addax-heading-menu li{
  margin: 0 -12px;
  padding: 0 7px; 
}
.addax-dark .addax-heading-menu li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-right: 16px;
}
.addax-dark .addax-heading-menu li.active{
}
.addax-dark .addax-heading-menu li a{
  color: $branco;
  text-decoration: none;
  transition: all 0.4s ease;
  padding: 9px 0px;
  display: inline-block;
  font-size: 11px;
  position: relative;
}
.addax-heading-menu li a:after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0px;
  background: $verde;
  transition: all 0.4s ease;
  z-index: 1;
}
.addax-heading-menu li a:hover:after{
  width: 100%;
}
.addax-dark .addax-heading-menu li a:hover{
  color: $verde2;
}
.addax-dark .addax-heading-menu li.active > a{
  color: $verde2;
}
.addax-heading-menu li.active > a:after{
  width: 100%;
}

.menu-red{
  border: 1px solid;
  color: #3898ff;
}
.menu-red a{
  color: #3898ff !important;
}
.menu-red a:hover{
  border-bottom: none !important;
  color: #fff;
}
.menu-green{
  background: #55ad82;
}
.menu-green a{
  color: #fff !important;
}
.menu-green a:hover{
  border-bottom: none !important;
  background: #55AD82 !important;
}
