
/*------- Login / Register ------------*/
.addax-forms{}
.addax-forms-dark{}
.addax-forms-dark .addax-main-form{
    background: #131722 url('../images/bg.png') center no-repeat;
    padding: 70px 60px 100px 60px;
    box-shadow: 0 0 53px #00000063;
    border-radius: 5px;
}
.addax-main-form label{
    margin-bottom: 15px;
    font-size: 16px;
}
.addax-main-form a{
    font-size: 15px;
    font-weight: 600;
}
.addax-main-form input{
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
}
.addax-forms-dark .addax-main-form label{
    color: #fff;
}
.addax-forms-dark .addax-main-form input{

background-color: #1B2134;

border: 1px solid #2c3552;
}