
@media only screen and (min-width: 1024px) and (min-height: 900px){
    .dashboard-bottom-section {
        flex: 1 0 22vh;
    }
}
@media only screen and (max-height: 992px){
    .dashboard-bottom-section{
        flex: 340px !important;
    }
    .tableFixHead {
        height: 26vh!important;
    }
    .trade_pane .tableFixHead thead tr{
        position:relative;
    }
    .trade_pane > .progress {
        display: none!important; 
    }
}
@media only screen and (max-height: 834px){
    .dashboard-bottom-section{
        flex: 330px !important;
    }
    .tableFixHead {
        height: 24vh!important;
    }
}
@media only screen and (max-height: 768px){
    .dashboard-bottom-section{
        flex: 330px !important;
    }
    .tableFixHead {
        height: 25vh;
    }
}


@media only screen and (max-width: 1280px){
    .dashboard-bottom-section{
        .ads{
            .ads-card {
             width: 330px!important;
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .dashboard-bottom-section{
        .ads{
            .ads-card {
             width: 300px!important;
            }
        }
    }
}
@media only screen and (max-width: 995px){
    .margin-wrapper {
        margin-left: 4.6rem !important;
    }
}


@media only screen and (max-width: 991px){
    .margin-wrapper {
        margin-left: 0!important;
    }
    .dashboard-wrapper-container{
        padding-left: 0!important;
        padding-right: 0!important;
        padding-top: 1rem!important;
        padding-bottom: 2rem!important;
    }
    .chart-container{
        flex: 1!important;
    }
    .ads-body{
        display: none!important;
    }
}

@media only screen and (max-width: 414px) {
    .container-fluid{
        padding-bottom: 3em;
    }
    .tableFixHead {
        height: 57vh !important;
    }
    .swap{
        margin-right: 0;
    }
    thead th:not(:first-child) {
        display: none;
    }
    td, th {
        display: block;
        clear: both;
    }
    td[data-th]:before {
        content: attr(data-th);
        float: left;
    }
    
    // .container-fluid {
    //     padding-right: 0!important;
    //     padding-left: 0!important;
    // }
    // .btn-group{ 
    //     border-radius: 12px!important;
    //     margin: 0.5em 1em;
    // }
    // .addax-sponsor{
    //     margin-left: 0.5em;
    // }
    // .table_div_line{
    //     display: block;
    // }
    // body.addax-dark .card{
    //     border-radius: 0!important;
    // }
    .pl-3{
        padding-left: 0!important;
    }
    .pr-3{
        padding-right: 0!important;
    }
}

@media (min-width: 576px) {
    .form-inline .input-group, .form-inline .custom-select {
        width: 100%!important;
    }

}