
@media (min-width: 350px) { 
    .d-xs-none{
        display: none;
    }
  }
  @media ( max-width: 1200px ){
    .addax-floatable-menu{
        display: none;
    }
  }
  @media ( max-width: 900px ){
    .addax-radio-boxed{
        width: 98%;
    }
    .addax-withdraw-body .nav-pills a{
        padding: 10px 0 0 10px;
    }
  }