
.addax-mobile-menu{
    position: fixed;
    z-index: 2;
    width: 250px;
    background: #fff;
    padding: 15px;
    top: 0;
    height: 100vh;
    padding-top: 115px;
    right: -100%;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    box-shadow: 0px 10px 20px #ddd;
}
.addax-mobile-menu.show{
    right: 0;
}
.addax-dark .addax-mobile-menu.show {
    right: 0;
    background: #202943;
    box-shadow: 0 20px 20px #000;
}
.addax-mobile-menu .addax-heading-menu{
    list-style: none;
    padding-left: 0;
    margin: 30px 0;
    float: none;
}
.addax-mobile-menu .addax-heading-menu li{
    /* padding: 10px; */
    margin: 0 -18px;
}
.addax-mobile-menu .addax-heading-menu li{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 18px 10px;
}
.addax-mobile-menu .addax-heading-menu li a:hover{
    border-bottom: none;
}
.addax-mobile-menu .addax-heading-menu li.active a{
    border-bottom: none;
}
.addax-mobile-menu .addax-heading-menu .addax-box-menu{
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}
.addax-mobile-menu .addax-gross-market-cap{
    margin: 10px;
}

/*---  Side menu bar ----*/
.addax-side-menu{
    height: 100vh;
    position: fixed;
    left: 0;
    width: 206px;
    padding: 25px;
    top: 0;
    z-index: 11;
    padding-top: 115px;
}
body.addax-dark .addax-side-menu{
    background: #1F2638 !important;
}
.addax-left-sided{} 


.addax-side-menu ul{
    padding: 0;
} 
.addax-side-menu p{
    color: #999;
} 
.addax-side-menu ul li{
    list-style: none;
    padding: 10px 0;
} 
.addax-side-menu ul li a{
    color: #555;
    font-weight: 600 !important;
    text-decoration: none;
    position: relative;
}
body.addax-dark .addax-side-menu ul li a{
    color: #fff;
}
.addax-side-menu ul li a:after{
    position: absolute;
    content: '';
    background: #666;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: all 0.4s ease;
}
.addax-side-menu ul li a:hover:after{
    width: 100%;
}