/*---- Slider ---*/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}
.addax-currency-slider{
    border: 1px solid #ecf4fe;
}
body.addax-dark .addax-currency-slider{
    border: none;
}
.addax-slider-content{
    background: #fff;
    /* padding: 40px; */
}
body.addax-dark .addax-slider-content{
    background: #131722;
}
.addax-slider-content .addax-slider-balance{
    padding: 60px 25px 60px 36px;
    border-right: 1px solid #ecf4fe;
}
body.addax-dark .addax-slider-content .addax-slider-balance{
    border-right: 1px solid #1f2638;   
}
.addax-slider-content .addax-slider-balance h5{}
.addax-slider-content .addax-slider-balance p:first-child{}
.addax-slider-content .addax-slider-balance p:last-child{
    margin: 0;
}
.addax-slider-content .addax-slider-balance p:last-child a{
    text-decoration: none;
}
.addax-slider-content .addax-slider-balance p:last-child a:first-child{
    margin-right: 20px;
}
.addax-slider-current-status{
    padding: 55px 30px;
}
