
/* 
    ------------ Panel -------------
 */
 .addax-panel-block{
  padding: 15px 15px 0px 15px;
}
.addax-dark .addax-panel-block p,
.addax-dark .addax-panel-block h6{
  color: #B7C0DD !important;
}
.addax-dark .addax-panel-block .addax-panel-date{
  color: #B7C0DD;
}
.addax-panel-block .addax-panel-date{}
.addax-panel-block .addax-panel-title{}
.addax-panel-block .addax-panel-desc{}