
/*------------- dark theme -------------*/
body.addax-dark{
    font-family: $addax_font;
    font-weight: 300;
}
body.addax-dark .input-group-text{

    color: $cinza3;
    text-align: center;
    white-space: nowrap;
    // background-color: #080e15;
    // border: 1px solid #292f3e;
    border-radius: 0;
}
body.addax-dark .form-control {
    color: $branco;
    background-color: $cinza1;
    background-clip: padding-box;
    border: 1px solid $cinza2;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.addax-dark{
    background: $cinza;
}
.addax-dark .icon-big{
    color: $branco;
}
.addax-dark .input-group select{
    background: $cinza1;
    border: 1px solid $cinza2;
}
.addax-dark h3.dropdown-item-title {
 color: $preto;   
}
.addax-dark p.text-sm {
 color: $cinza;   
}
.addax-dark h1,
.addax-dark h2,
.addax-dark h3,
.addax-dark h4,
.addax-dark h5,
.addax-dark h6,
.addax-dark p{
    color: $branco;
}
.addax-dark h1{
    font-weight: 600;
}
.addax-dark-segment{
    background: $cinza1;
}
.addax-deepblue-segment{
    background: $cinza1;
}

.bg-white{
    background: $branco;
}
g[opacity="0.3"],
g[opacity="0.4"]{
    display: none;
}
.addax-logo img{
    display: flex;
    height: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
/*--- colors ----*/
.addax-yellow{
    color: $amarelo;
}
.addax-green{
    color: $verde;
}
.addax-violet{
    color: #5d49c2;
}
.addax-red{
    color: $vermelho  ;
}
.addax-sky-blue{
    color: #31ccf8  ;
}
.addax-pink{
    color: #fb7ab9  ;
}
.addax-brown{
    color: #dca875  ;
}

.sm-box-shadow{
    box-shadow: 0 2px 30px #f1f1f1;
}
.container-full-width{
    width: 100%;
}
.sm-gutters>.col, .sm-gutters>[class*=col-]{
    padding-right: 7px;
    padding-left: 7px;
}
.addax-btn{
    color: #555;
    padding: 15px 20px;
    background: $branco;
    text-decoration: none;
-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}
.addax-btn > i{
    font-size: 18px;
    vertical-align: text-bottom;
-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}
.addax-btn:hover > i{
    padding-left: 7px;
}
.addax-btn:hover{
    text-decoration: none;
    color: #555;
    box-shadow: 0 3px 30px #f1f1f1;
}
body.addax-dark .addax-btn:hover{
    box-shadow: none;
}
.addax-button-inline{
    display: inline-block;
} 
.addax-btn-green{
    background: #0e75ee;
    color: $branco;
} 
.addax-btn-red{
    background: #0e75ee;
    color: $branco;
}
.addax-btn-green:hover,
.addax-btn-red:hover{
    color: $branco;
}
.fright{
    float: right;
}
.addax-bg-head{
    background: #ecf4fe;
    padding: 13px;
}
.addax-boxed-area{
    border: 1px solid #f1f1f1;
    background: $branco;
}
body.addax-dark .addax-bg-head{
    background: #1f2638;
    padding: 13px;
}
body.addax-dark .addax-boxed-area{
    background: $cinza1;
    border: none;
    color: $branco;
}

.addax-up{
    color: $verde !important;
}
.addax-down{
    color: $vermelho !important;
}
.padding-left{
    padding-left: 30px;
}
.addax-button-green-full{
    background: $verde1;
    color: $branco;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 20px;
    transition: all 0.4s ease;
}
.addax-button-green-full:hover{
    background: #34a560;
    text-decoration: none;
    color: $branco;
}
.addax-button-red-full{
    background: $vermelho !important;
    border: none !important;
    color: $branco;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 20px;
    transition: all 0.4s ease;
}
.addax-button-red-full:hover{
    text-decoration: none;
    color: $branco;
    background: #ca3a28;
}
.addax-header{
    box-shadow: 0 2px 20px #f1f1f1;
    background: $branco;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 70px;
}
.addax-mega-dropdown-menu{
    position: relative;
}
.addax-mega-dropdown-menu a.addax-mega-dropdown-toggle{
    color: #666;
    display: inline-block;
    font-weight: 600;
    padding: 25px 20px;
    text-decoration: none;
    outline: none;
    font-size: 15px;
}
.addax-mega-dropdown-menu a.addax-mega-dropdown-toggle.addax-mega-dropdown-toggle-padding-less{
    padding: 0px !important;
}
.addax-mega-dropdown-menu a.addax-mega-dropdown-toggle i{
    font-weight: 600;
}
.addax-mega-dropdown-menu a.addax-mega-dropdown-toggle:hover{
    text-decoration: none;
}
.addax-mega-dropdown-menu-block{
    position: absolute;
    background: $branco;
    padding: 20px;
    width: 550px;
    box-shadow: 0 7px 17px rgba(0,0,0,0.08);
    top: 76px;
    opacity: 0;
    display: none;
    transition: all 0.4s ease;
    border: 1px solid #f1f1f1;
}
.addax-mega-dropdown-menu-block.shown{
    opacity: 1;
    display: block;
}

.addax-mega-dropdown-menu-block:after{
    position:absolute;
    content: '';
    z-index: -1;
    top: -10px;
    width: 20px;
    height: 20px;
    background: $branco;
    transform: rotate(45deg);
    box-shadow: 0 -2px 20px #ddd;
}

.addax-gross-market-cap{
    margin: 15px 0 20px 0;
}
.addax-gross-market-cap p:first-child{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}
.addax-gross-market-cap p:last-child{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
}